*,
::before,
::after {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
}

.wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 40px;
	justify-items: center;
	padding: 32px;
}

h1 {
	padding: 40px;
}

.box-container {
	align-items: center;
	background-color: #a7a7a7;
	border-radius: 10px;
	display: flex;
	column-gap: 40px;
	max-width: 400px;
	padding: 32px;
	width: 100%;

	@media (min-width: 1024px) {
		align-items: flex-start;
		background-color: #f2f2f2;
		max-width: 600px;
	}
}

.svg-box {
    flex-shrink: 0;
}

.list-container {
	display: flex;
	flex-direction: column;
	gap: 20px;

	@media (min-width: 1024px) {
		background-color: #f2f2f2;
		gap: 0px;
		max-width: 600px;
	}
}

p {
	font-weight: 700;
}
li {
	font-weight: 400;
}
